@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

:root{
    /* ### Primary */

--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--cyan-a: hsl(178, 100%, 50%, 60%);

/* ### Neutral */

--main-bg: hsl(217, 54%, 11%);
--card-bg: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

p{
    color: var(--soft-blue);
    font-weight: 300;
}

img{
    max-width: 100%;
}

section{
    padding: 1.5rem;
    background-color: var(--card-bg);
    border-radius: 1rem;
    margin-bottom: 1rem;
    position: relative;
    box-shadow: 0 30px 0 18px hsl(216, 55%, 10%);
}

section .div-image{
    position: relative;
}

section .div-image div{
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: calc(100% - 21px);
    background-color: var(--cyan-a);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

section .div-image div img{
    width: 3rem;
}

section .div-image div:hover{
    opacity: 1;
}

.div-image img{
    border-radius: 10px;
}

.div-image{
    padding-bottom: 1rem;
}

section h1{
    color: var(--white);
    font-weight: 600;
    padding-bottom: 1rem;
}

section h1:hover, section #card-creator p span:hover{
    color: var(--cyan);
}

#card-paragraph{
    padding-bottom: 1rem;
    line-height: 1.75rem;
}

.eth-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.eth-time div:first-child{
    color: var(--cyan);
    font-weight: 400;
    display: flex;
    align-items: center;
}

.eth-time img{
    margin-right: 0.5rem;
}

#card-time{
    color: var(--soft-blue);
    text-align: right;
    display: flex;
    align-items: center;
}

#card-line{
    border: 1px solid var(--line);
}

#card-creator{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#card-creator img{
    width: 2rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 1rem;
}

#card-creator p span{
    color: var(--white);
    font-weight: 400;
}

.attribution{
    margin-top: 4rem;
    margin-bottom: 1rem
}



@media(min-width: 375px){
    section{
        width: 300px;
        margin: 2rem auto;
    }
}

@media(max-width: 374px){
    section{
        width: 275px;
        margin: 2rem auto;
    }
}
